<h1 class="display-4">My Cards</h1>
<div class="grid grid-pad">
  <ul class="cards">
    <li *ngFor="let card of cards" class="col-1-4">
      <a routerLink="/detail/{{card.name}}">
        <span class="badge">{{card.id}}</span> {{card.name}}
      </a>
    </li>
  </ul>
</div>


<div id="new-card" *ngIf="isAdmin">
  <h2>Register new card</h2>
  <label>Name:
    <input #cardName />
  </label>
  <label>Description:
    <input #cardDescription />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(cardName.value, cardDescription.value); cardName.value=''; cardDescription.value='';">
    Add
  </button>
</div>