nav a{
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    padding: 10px 10px;
}
nav a:visited, a:link {
    color: #334953;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}