/* AppComponent's private CSS styles */

nav{
  background-color:#516373 !important ;
}
nav a {
  margin-right: 10px;
  display: inline-block;
  background-color: #f2dea0;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #334953;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #000000;
  background-color: #D5E7F2;
}
